
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Michroma&display=swap');
*{
  font-family: "Michroma", sans-serif;
  font-weight: 400;
}

@theme {
  --colors-primary: #A48011,
}

@import "tailwindcss";